:root {
  --dark-green: #61b292;
  --light-green: #aed09e;
  --yellow: #f1e8a7;
  --brown: #a8896c;
  --red: #a94a4a;
  --creamy: #fff6da;
  --blacky: #33372c;
  --whity: #fffff0;
  --pixel-font: "Press Start 2P";
  --normal-font: Tektur;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--pixel-font);
  background-color: var(--creamy);
  height: 100vh;
  margin: 0;
  padding: 0;
}

.structure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100%;
  max-width: 2150px;
}

.game_screen_outside {
  background-color: var(--dark-green);
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  border-radius: 0.5rem;
  border: 0.05rem solid var(--blacky);
  box-shadow: 0.3rem 0.3rem 0 var(--blacky);
}

.game_screen_outside:hover {
  transform: scale(1.03);
}

.tabs_management {
  display: flex;
  justify-content: end;
  align-items: baseline;
  gap: 0.2rem;
  margin-bottom: 1rem;
}

.tab {
  width: 1.2rem;
  height: 1.2rem;
  background-color: var(--whity);
  border: 0.01rem solid var(--blacky);
  box-shadow: 0.05rem 0.05rem 0 var(--blacky);
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab:hover {
  transform: scale(1.05);
}

.tab span {
  color: var(--blacky);
}

.game_screen_inside {
  background-color: var(--whity);
  padding: 4rem 3rem 3rem 3rem;
  border-radius: 0.5rem;
  border: 0.05rem solid var(--blacky);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game_title {
  font-family: var(--pixel-font);
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--blacky);
}

.game_title:hover {
  transform: scale(1.05);
}

.game_body {
  padding-top: 2rem;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  justify-content: space-around;
  align-items: center;
  gap: 0.7rem;
}

.blurry {
  filter: blur(3px);
}

.line {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.7rem;
}

.square {
  width: 2.5rem;
  height: 2.5rem;
  border: 0.05rem solid var(--blacky);
  box-shadow: 0.1rem 0.1rem 0 var(--blacky);
  background-color: var(--creamy);
  border-radius: 0.5rem;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square:hover {
  transform: scale(1.05);
}

@media (max-width: 650px) {
  .game_screen_outside {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .game_screen_inside {
    padding: 2rem 1rem 1rem 1rem;
  }

  .game_title {
    font-size: 1rem;
  }

  .game_body {
    gap: 0.5rem;
  }

  .line {
    gap: 0.5rem;
  }

  .square {
    width: 2rem;
    height: 2rem;
  }
}

.correct {
  font-weight: 500;
  background-color: var(--light-green);
}

.close_to {
  font-weight: 500;
  background-color: var(--yellow);
}

.no_match {
  font-weight: 500;
  background-color: var(--brown);
}

.wrong {
  background-color: var(--red);
  transform: scale(1.1);
}

.loading {
  background-color: var(--brown);
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  border-radius: 0.3rem;
  border: 0.05rem solid var(--blacky);
  box-shadow: 0.2rem 0.2rem 0 var(--blacky);
  position: absolute;
  z-index: 1;
  justify-self: center;
  align-self: center;
}

.loading_inside {
  background-color: var(--whity);
  margin-top: 0.5rem;
  padding: 2rem;
  border-radius: 0.3rem;
  border: 0.05rem solid var(--blacky);
}

.popup_end {
  position: absolute;
  z-index: 1000;
  justify-self: center;
  align-self: center;
  border: 0.05rem solid var(--blacky);
  border-radius: 0.7rem;
  box-shadow: 0.2rem 0.2rem 0 var(--blacky);
  padding: 1rem 0.5rem 0.5rem 0.5rem;
}

.popup_end:hover {
  transform: scale(1.03);
}

.popup_end_inside {
  background-color: var(--whity);
  padding: 1rem 0.5rem;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup_state {
  font-size: 1.5rem;
}

.popup_word {
  margin-top: 1rem;
  font-size: 0.7rem;
}

.lose {
  background-color: var(--red);
}

.win {
  background-color: var(--light-green);
}

.refresh_button {
  margin-top: 2rem;
  padding: 0.3rem;
  background-color: var(--blacky);
  border-radius: 0.4rem;
  color: var(--whity);
  font-family: var(--pixel-font);
}

.refresh_button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

@media (max-width: 650px) {
  .loading {
    top: 10rem;
  }

  .loading_inside {
    padding: 1rem;
  }

  .popup_end {
    top: 10rem;
  }
}

.hidden {
  display: none;
}

.instructions {
  background-color: var(--brown);
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  border-radius: 0.7rem;
  border: 0.05rem solid var(--blacky);
  box-shadow: 0.2rem 0.2rem 0 var(--blacky);
  position: absolute;
  right: 2rem;
}

@media (max-width: 1800px) {
  .structure {
    position: static;
    margin-top: 2rem;
  }

  .instructions {
    margin-top: 2rem;
    margin-bottom: 2rem;
    position: static;
    right: 0;
  }
}

.instructions:hover {
  transform: scale(1.03);
}

.instructions_inside {
  background-color: var(--whity);
  padding: 1rem;
  border-radius: 0.7rem;
  border: 0.05rem solid var(--blacky);
}

.instructions_inside .color_match {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 1rem;
}

.color_match div {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.2rem;
  border: 0.05rem solid var(--blacky);
}

.color_match p {
  font-size: 0.7rem;
}

@media (max-width: 650px) {
  .instructions {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .color_match div {
    width: 1.3rem;
    height: 1.3rem;
    flex-shrink: 0;
  }

  .color_match p {
    font-size: 0.5rem;
    word-wrap: break-word;
    line-height: 0.7rem;
  }
}

.instructions_inside .correct_color {
  background-color: var(--light-green);
}

.instructions_inside .close_to_color {
  background-color: var(--yellow);
}

.instructions_inside .no_match_color {
  background-color: var(--brown);
}

.instructions_inside .wrong_word_color {
  background-color: var(--red);
}
